<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="localhost"/>
    <add key="Domain" value="redcat"/>
    <add key="Port" value="5222"/>
    <add key="Username" value="admin"/>
    <add key="Password" value="redcat"/>
  </appSettings>
</configuration>